.section
  %h1.title
    AIR Talk Image Gallery
  =form_for(Image.new, url: images_path) do |f|
    .field
      %label.label Image URL
      .control.has-icons-left
        %input.input{placeholder: 'URL', type: :url, name: :url}/
        %span.icon.is-small.is-left
          %i.fa.fa-picture-o
    .field-body
      .field
        .control
          %button.button.is-primary
            Add Image
.section
  - @images.each_slice(4) do |images|
    .columns
      - images.each do |image|
        .column.is-3
          .card
            =link_to(image.url, target: :blank) do
              .card-image
                %figure.image.is-4by3
                  %img{:src => image.url}
            %footer.card-footer
              .card-footer-item
                =link_to 'Delete', image_path(image.to_h), method: :delete, class: 'button is-danger'
